
/* premiere colonne page client
utilisation de word-wrap: break-word : pour eviter le debordement de text */
.profil{


    word-wrap: break-word;
}

/* troisieme colonne page client */
.historique{

    margin-top: 2%;
    word-wrap: break-word;
    overflow: auto;


}


.fav{

    text-justify: auto;
    font-size: large;
    width:auto;

    margin-bottom: 10px;
    margin-left: 5%

}
.affiHistorique{


    margin-bottom: 2px;
}
