<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('build/css/bootstrap.css.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
                <img src="{{ logo }}"  height="40">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cartes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Commander</a>
                    </li>
                </ul>


                    <form method="POST" action="/api/login" id="form" class="form-inline my-2 my-lg-0">
                        <label for="email">Email :</label>
                        <input type="email" class="form-control mr-sm-2" name="email" id="email" value="admin@admin.fr">
                        <label for="mdp">Mdp :</label>
                        <input type="password" class="form-control mr-sm-2" name="password" id="mdp" value="admin">

                        <button type="submit" class="btn btn-success my-2 my-sm-0" value="Submit">Connexion</button>


                    </form>
            </div>
        </nav>
    {% endblock %}

        {% block body %}
            {% block test %}


                <div class="test">
                    <h2>Ceci est un test pour la réutilisation de ce block</h2>
                    <p>es que sa va marcher, je me le demande, testons de redefinir le style de se bloque en utilisant parent().</p>
                </div>



            {% endblock %}

        {% endblock %}

        {% block javascripts %}

            <script src="{{ asset('build/js/jquery.js.js') }}"></script>
            <script src="{{ asset('build/js/bootstrap.min.js.js') }}"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        {% endblock %}


    </body>
</html>
